@import url('https://fonts.googleapis.com/css?family=Raleway');
.modal{
	display: inline !important;
	position: absolute;
	width:60%;
	padding: 2.5%;
	margin-left:20%;
	margin-top:3%;
	background-color: rgba(34,34,34,0.95);
	font-family: 'Raleway';
	line-height: 1.5em;
	overflow: scroll;
}


.textbox{
	position: relative;
	display: block;
	width: 90%;
	margin:auto;
}

.inst-img{
	display: inline-block;
	width: 10%;
	padding: 1.5%;
	vertical-align: middle;
	
}
.img-cont{

}
.gen-img{
	display: block;
	width: 50%;
	height: auto;
	padding: 0px;
	vertical-align: middle;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
.ground-station-info img, .hubble-info, .iss-info{
	display: block;
	width: 10%;
	height: auto;
	padding: 0px;
	vertical-align: middle;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
}
.ground-station-info img{
	width: 100%;
}
.ground-station-info{
	width: 30%;
	height: auto;
	margin: 5% 5% 2% 8%;
	display: inline-block;
	vertical-align: middle;

}

.more-info-hit{
	width:40%;
	display: inline-block;
	margin: 5% 8% 2% 5%;
	vertical-align: middle;
}


.modal p{
	display: inline-block;
	color:white;
	font-size: 20px;
	width: 100%;
	text-align: center;
	margin:auto;
}

strong{
	font-size: 22px;
	color:#9e46b3;
}

#instructions-modal{
	margin-top: 1%;
}
#instructions-modal p{
	font-size: 18px !important;

}
#instructions-modal .tdrs-img{
	margin-top: 0% !important;
	margin-bottom: 0% !important;
}

.prog-img{
	width: 20%;
}
.tdrs-img, .sat-img, .prog-img{
	display: block;
	margin: auto;
}
.tdrs-img{
	margin-top: 5%;
	margin-bottom: 5%;
}
button{
	font-family: 'Raleway';
	display: block;
	width: 20%;
	margin-left: 40%;
	background-color: #6843be;
	border: none;
	border-radius: 5px;
	box-shadow: inset -23px -20px 154px -39px black;
	padding: 2.5%;
	color:white;
	font-size: 20px;
	margin-top: 5%;
}
